model/catalog-v001.xml
python-scripts/__pycache__/
.vscode/settings.json
python-scripts/.editorconfig
python-scripts/tbfy/__pycache__
.editorconfig
rml-mappings/rmlmapper-4.5.1.jar
python-scripts/shelve/company_database_dict.bak
python-scripts/shelve/company_database_dict.dat
python-scripts/shelve/company_database_dict.dir
python-scripts/input.xml
